@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto Mono", monospace;
  background: #232527;
  color: white;
}

i,
svg {
  pointer-events: none;
}

.sequencer {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#main-title {
  font-size: 3.2rem;
  letter-spacing: 0.2rem;
  margin-bottom: 5rem;
  background: linear-gradient(to right, #369, rgb(36, 161, 36));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.kick-pad,
.snare-pad,
.hihat-pad,
.tom-pad {
  width: 5rem;
  height: 5rem;
  margin: 0rem 0.5rem;
  cursor: pointer;
  background: #464b52;
  border-radius: 0.5rem;
  box-shadow: 4px 4px 10px #1e1f20, -4px -4px 10px #404244;
}

.kick-pad.active {
  background: linear-gradient(230deg, #3dd8ce, #1c645f);
  box-shadow: 2px 2px 10px #278680;
}

.snare-pad.active {
  background: linear-gradient(230deg, #e22f41, #66111a);
  box-shadow: 2px 2px 10px #7a1a23;
}

.hihat-pad.active {
  background: linear-gradient(230deg, #fdbf79, #a07749);
  box-shadow: 2px 2px 20px #a07749;
}

.tom-pad.active {
  background: linear-gradient(230deg, rgb(47, 233, 47), rgb(36, 161, 36));
  box-shadow: 2px 2px 20px rgb(36, 161, 36);
}

.kick-track,
.snare-track,
.hihat-track,
.tom-track {
  display: flex;
  /* flex-wrap: wrap; */
  align-items: center;
  width: 70%;
  justify-content: space-between;
  margin-top: 3rem;
}

.kick,
.snare,
.hihat,
.tom {
  display: flex;
}

.controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1;
  margin: 0 2rem;
  min-width: 390px;
}

.controls button {
  padding: 1rem;
  border: none;
  background: #464b52;
  color: white;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.5s ease;
  border-radius: 0.5rem;
  box-shadow: 4px 4px 10px #1e1f20, -4px -4px 10px #404244;
  transition: transform 0.5s ease;
}

.controls button:hover {
  transform: scale(1.1);
}

.controls h1 {
  letter-spacing: 0.2rem;
  min-width: 120px;
}

select {
  font-family: "Roboto Mono", monospace;
  background: #464b52;
  color: white;
  padding: 1rem;
  font-size: 1rem;
  min-width: 12rem;
  border: none;
  border-radius: 0.5rem;
  box-shadow: 4px 4px 10px #1e1f20, -4px -4px 10px #404244;
  /* margin-right: 1rem; */
}

.pad {
  transition: all 0.5s ease;
}

.play {
  font-family: "Roboto Mono", monospace;
  padding: 1rem 2rem;
  font-size: 1.5rem;
  background: #464b52;
  color: white;
  border: none;
  cursor: pointer;
  margin-top: 3rem;
  border-radius: 0.5rem;
  box-shadow: 4px 4px 10px #1e1f20, -4px -4px 10px #404244;
  transition: transform 0.5s ease;
}

.play:hover {
  transform: scale(1.1);
}

@keyframes playTrack {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.2);
  }
}
